<div class="station-container">
  <div class="station-header desktop-only">
    <div class="header-name">НАЗВАНИЕ</div>
    <div class="header-code">КОД СТАНЦИИ</div>
    <div class="header-action">ДЕЙСТВИЕ</div>
  </div>

  <!-- Строка с данными -->
  <div class="station-row">
    <div class="station-data">
      <div class="mobile-label">Название</div>
      <div class="station-name">{{station.title}}</div>
    </div>

    <div class="station-data">
      <div class="mobile-label">Код станции</div>
      <div class="station-code">{{station.code}}</div>
    </div>

    <div class="station-action">
      <app-select-button [code]="station.code"></app-select-button>
    </div>
  </div>
</div>
